/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* =============================== BASE - CSS =============================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
    background-color: #4097c8;
    background: linear-gradient(#4097c8, #88caef);

}

h1, h2, h3, h4, p, a, label, span{
    font-family: 'Roboto Mono', monospace;
}
.wrapper{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.error {
    background-color: #c3c6c9;
    padding: 5px 5px;
    border-radius: 15px;
    color: #ff0000;
    font-size: 0.8em;
    font-weight: bold;
}

/* =============================== Header =================================== */
header{
    padding: 15px 0;
}

header .logo h2{
    font-family: 'Revalia', cursive;
}

header .logo p {
    font-family: 'Orbitron', sans-serif;
    margin-top: -5px;
}

header .login{
    display: flex;
    flex-direction: column;
}

header input[type=checkbox]{
    display: none;
}

header input[type=checkbox]:checked ~ form {
    display: flex;
}

header .login a{
    background-color: #c3c6c9;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-self: flex-end;
}

header .login h2{
    background-color: #c3c6c9;
    padding: 10px 15px;
    border-radius: 15px;
}

header .login a:hover{
    background-color: #a4a6a8;
}

header .login label[for=hide]{
    background-color: #c3c6c9;
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    align-self: flex-end;
    margin-bottom: 5px;
}

header .login label[for=hide]:hover {
    background-color: #a4a6a8;
}

header .login form {
    display: none;
    flex-direction: column;
}
header .login form .form-group{
    width: 100%;
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
}

header .login form .form-group input{
    background-color: transparent;
    border: 1px solid #c3c6c9;
}

header .login form .form-group input[type=submit]{
    border-radius: 15px;
    padding: 5px 10px;
}

header .login form .form-group input[type=submit]:hover{
    background-color: #88caef;
    border: 1px solid #000;
}

header .login form .form-group label{
    padding-right: 5px;
}

/* =============================== iFrame =================================== */
.promo_video iframe {
    width: 560px;
    height: 315px;
    margin: 60px auto 40px ;
    box-shadow: 1px 1px 20px 1px #000;
    border: none;
}
/* ============================ About / Register ============================ */
.about_registration .about{
    width: 46%;
    padding: 10px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 1px #000;
}

.about_registration .register{
    width: 46%;
    padding: 10px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 20px 1px #000;
    box-sizing: border-box;
}

.about_registration .register form {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.about_registration .register form .form-group{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.about_registration .register form .form-group:nth-child(4){
    justify-content: flex-start;
}
.about_registration .register form .form-group:nth-child(5){
    justify-content: flex-end;
}

.about_registration .register form .form-group input{
    width: 50%;
    background-color: transparent;
    border: 1px solid #c3c6c9;
    margin-left: 10px;
}

.about_registration .register form .form-group input[type=checkbox]{
    width: 10%;
    border-radius: 15px;
    padding: 5px 10px;
}

.about_registration .register form .form-group input[type=submit]{
    border-radius: 15px;
    padding: 5px 10px;
}

.about_registration .register form .form-group input[type=submit]:hover{
    background-color: #88caef;
    border: 1px solid #000;
}
/* =============================== Download ================================= */
.download .wrapper {
    flex-direction: column;
}

.download .button{
    background-color: #4c9c3f;
    border-radius: 15px;
    border: none;
}

.download a{
    width: 40%;
    margin: 30px auto 0px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 15px;
    box-shadow: 1px 2px 30px 1px #000;
}

.download a:hover{
    background-color: #4FEF10;
}

.download a:first-child{
    margin-top: 60px;
}

.download a:last-child{
    margin-bottom: 60px;
}
/* =============================== Footer =================================== */
footer {
    background-image: url(../img/underground_web.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 135px;
    margin-top: 20px;
}

footer .wrapper .copy{
    margin-top: 60px;
    color: white;
}

footer .wrapper .privacy{
    margin-top: 60px;
    color: white;
}
/* =============================== Mobile =================================== */
@media screen and (max-width: 1270px){
    .wrapper{
        flex-direction: column;
    }
    header .wrapper {
        flex-direction: row;
    }
    .about_registration .about{
        width: 100%;
        margin-bottom: 15px;
    }
    .about_registration .register{
        width: 100%;

    }
    footer .wrapper{
        flex-direction: row;
    }
}

@media screen and (max-width: 1100px){
    .promo_video iframe {
    width: 100%;
    height: 290px;
    }
}

@media screen and (max-width: 1030px){
    .promo_video iframe {
    width: 100%;
    height: 320px;
    }
}

@media screen and (max-width: 970px){
    .about_registration .wrapper{
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 90%;
    }
}

@media screen and (max-width: 620px){
    .promo_video iframe {
    width: 100%;
    height: 215px;
    }
}

@media screen and (max-width: 500px){
    header .wrapper{
        flex-direction: column;
    }
    header .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    header .login{
        width: 100%;
        justify-content: center;
    }
    header .login form {
    display: none;
    flex-direction: column;
    align-self: center;
    }
    header .login label[for=hide]{
    align-self: center;
    }
    .download a{
    width: 80%;
    }
    footer {
        height: 100%;
    }
    footer .wrapper{
        flex-direction: column;
    }
    footer .wrapper .copy{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    footer .wrapper .privacy{
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
